<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    {% block title %}
    <title>{{ question.question_text }}</title>
    {% endblock %}
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
    {% block content %}
        <div class="container mx-auto">
			<section class="flex items-start justify-center h-screen m-10">
    {% block polls %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><span class="text-gray-600 text-5xl">{{ question.question_text }}</span></legend>
        {% if error_message %}<span class="text-red-500 text-2xl">{{ error_message }}</span>{% endif %}
        <div class="mt-12">
            {% for choice in question.choice_set.all %}
                <input type="radio" class="form-radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label class="ml-5 text-3xl text-gray-500" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </div>
    </fieldset>
        <div class="flex justify-center">
            <input class="scale-125 mt-12 py-3 px-6 text-2xl bg-green-400 text-white rounded-full hover:bg-green-500 focus:ring-blue-500" type="submit" value="Vote">
        </div>
    </form>
    {% endblock %}
            </section>
        </div>
    {% endblock %}
</body>
</html>